.content{
    margin-left: 330px !important;
    margin-top: 1em !important;
}

.title{
    font-weight: bold;
    color: #5E90F2;
    margin-top: 0.6em;
}

.subtitle{
    font-weight: bold;
    color: #5E90F2;
    margin-top: 1em;
}